/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------MEYER RESET */








/* ------GLOBAL CSS */

:root {
    --white: #FFFFFF;
    --black: #0D0D0D;
    --primary: #EE6515;
    --gray: #5A5A5A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Arial", sans-serif !important;
    color: var(--white);
}

body{
    background-color: var(--black);
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 32px;
}

h1, h1 span{
    font-size: 8rem;
    font-weight: 900;
    color: var(--white);
}

h2, h2 span{
    font-size: 4rem;
    font-weight: 900;
}

h3{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: -0.2rem;
}

h4, h4 span{
    font-size: 1.4rem;
    font-weight: 300;
}

p{
    font-size: 1rem;
    font-weight: 300;
}

/*Just add accent class to color the text*/
.accent{
    background: linear-gradient(
        0deg,
        rgba(20, 135, 235, 1) 0%,
        rgba(114, 210, 255, 1) 100%
      );
      background-clip: text !important;
      color: transparent !important;
}

.subheader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none !important;
    color: white !important;
}

.centered{
    text-align: center;
}

















/* ------NAVBAR */


.logout {
    display: none;
}
.logo-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
}

.logout:hover{
    background: linear-gradient(
        0deg,
        rgba(20, 135, 235, 1) 0%,
        rgba(114, 210, 255, 1) 100%
      );
      background-clip: text !important;
      color: transparent !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar{
    position: absolute !important;
    margin-top: 16px;
    width: 100%;
    z-index: 1;
    background-color: transparent !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.container-fluid{
    background-color: transparent;
    padding: 0px 64px;

}


.nav-link{
    color: white !important;
}

.nav-link:hover{
    background: linear-gradient(
        0deg,
        rgba(20, 135, 235, 1) 0%,
        rgba(114, 210, 255, 1) 100%
      );
      background-clip: text !important;
      color: transparent !important;
    transition: all 0.3s ease;
}

.navbar-toggler-icon {
    filter: invert(1);
}




.container-fluid{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;


}

.book-button{
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 8px 16px;
    border-radius: 8px;
}

.book-button:hover{
    background: linear-gradient(
        0deg,
        rgba(20, 135, 235, 1) 0%,
        rgba(114, 210, 255, 1) 100%
      );
    border: none;
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) { 
    .logout {
        display: block; 
    }

}






/* ----------- BANNER */


.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./images/assets/bg-wide.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler-container{
    display: block;
}
.navbar-collapse-container{
    display: none;
}

.denardpic{
    height: 95%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.bannertext-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    margin-bottom: 64px;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: -1rem;
}

.tagline, .tagline span{
    margin-left: 52px;
    font-size: 2rem;
}

.re{
    font-size: 6rem;
    font-weight: 700;
}

.invest{
    font-size: 12rem;
}

.banner-venue{
    font-size: 1.5rem;
    margin-top: -16px;
}


.name-container{
    position: absolute;
    bottom: 4rem;
    margin-left: 64px;
}

.denard{
    font-size: 2rem;
}

.firme{
    font-size: 7rem;
    margin-top: 8px;
}

.line{
    width: 110%;
    height: 1px;
    border: 1px solid var(--white);
}

.wolf{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 1000px){
    .tagline, .tagline span{
        font-size: 1.3rem;
        margin-left: 32px;
    }
    .re{
        font-size: 4rem;
    }
    .invest{
        font-size: 8rem;
    }
    .denard{
        font-size: 1.5rem;
    }
    .firme{
        font-size: 4.5rem;
    }
    .line{
        width: 110%;
    }
    .wolf{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 650px){
    .bannertext-container{
        margin-bottom: 20rem;
    }
    .tagline, .tagline span{
        font-size: 0.8rem;
        margin-left: 24px;
        margin-bottom: 0.8rem;
    }
    .re{
        font-size: 3rem;
    }
    .invest{
        font-size: 5rem;
    }
    .denard{
        font-size: 1.2rem;
    }
    .firme{
        font-size: 4rem;
    }
    .line{
        width: 110%;
    }
    .wolf{
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
    .denardpic{
        height: 75%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .name-container{
        position: absolute;
        z-index: 2;
        margin-left: 32px;
    }
}




/* ----------- EARN AND LEARN */

.earn-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subhead-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.earn-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 64px;
}

.earn-item{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 16px;
    padding: 0px 32px;
}

.circle {
    position: absolute;
    display: flex; /* Enables flex properties */
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 100%;
    height: 54px;
    width: 54px;
    background-color: var(--black);
    top: 0; 
    transform: translateY(-50%); 
}

.earn-text{
    margin-top: 12px;
}

.circle-icon{
    width: 60%;
    height: 60%;
}

@media (max-width: 650px){
    .earn-container{
        flex-direction: column;
        gap: 46px;
        margin-top: 64px;
    }
}



/* ----------- EARN AND LEARN */

.info-section{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.subhead-container-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info-container{
    width: 85%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.info-text{
    text-align: end;
}

.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.info-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-img:hover{
    transform: scale(1.4);
    transition: all 0.3s ease;
}
.secure-button{
    margin-top: 32px;
}


@media (max-width: 1000px){
    .info-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .info-text{
        text-align: start;
    }
}






/* ----------- SPEAKERS - DENARD */

.speakers-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.speaker-denard{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 32px;
}

.about-denard{
    position: relative;
    width: 100%;
    height: 300px;
    background: url("./images/assets/denard-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--gray);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

.about-denard-img{
    position: absolute;
    bottom: 0;
    left: 16;
    height: 380px;
    border-radius: 16px;
}

.speaker-name-denard{
    font-weight: 900;
}

.line-denard{
    width: 70%;
    margin: 4px 0px;
}


.intro-denard{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 60%;
    margin-left: auto;
}

.denard-text{
    text-align: end;
}

.speaker-tag-denard{
    font-size: 1rem;
}

.credentials-item p{
    text-align: center;
    font-size: 0.8rem;
}

.credentials-item p span, .bold{
    font-weight: 800;
}


.credentials-denard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.credentials-item{
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 1px solid var(--gray);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



/* ----------- SPEAKERS - OTHERS */

.speaker-keynotes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    width: 100%;
    height: 250px;
}

.keynote-container{
    position: relative;
    border: 1px solid var(--gray);
    border-radius: 16px;
}

.keynote-img{
    position: absolute;
    height: 300px;
    bottom: 0;
    margin-left: 16px;
}

.keynote-info{
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 16px;

}

.musk{
    background: url("./images/assets/putin-bg.png");
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.8) 0%, 
        rgba(0, 0, 0, 0.2) 60%, 
        rgba(0, 0, 0, 0) 100% 
    );
    z-index: 2; 
    border-radius: 16px;
}

.line-keynote{
    margin: 4px 0px;
    width: 90%;
}

.speaker-name-keynote{
    font-weight: 900;
}

.speaker-tag-keynote{
    font-size: 0.8rem;
}

@media (max-width: 650px){


    .intro-denard p{
        display: none;
    }

    .intro-denard{
        z-index: 4;
    }


    .speaker-keynotes{
        grid-template-columns: 1fr;
        gap: 250px;
    }

    .keynote-img{
        height: 200px;
    }

    .keynote-container{
        width: 100%;
    }
}


/* ----------- SCHEDULE SECTION */

.schedule-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
    width: 100%;
}

.schedule-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
}

.schedule-item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-top: 64px;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--gray);
    border-radius: 16px;
    width: 100%;
}

.day{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    width: 200px;

    border: 1px solid var(--gray);
    background-color: var(--black);
    border-radius: 16px;

    z-index: 1;
    top: 0;
    transform: translateY(-50%);

    font-size: 1.5rem;
    font-weight: 800;
}

.sched-subhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sched-title{
    font-size: 3rem;
    text-align: center;
}

.sched-tagline{
    font-size: 1rem;
    text-align: center;
    margin-top: -2px;
}




.timeslot-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}

.timeslot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--gray);
    border-radius: 16px;
    width: 80%;
    height: 72px;
    padding: 0px 32px;
}

.timeslot:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.time{
    font-weight: 800;
    font-size: 1rem;
}

.event-item{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 2px;
}

.event-title{
    font-weight: 600;
    font-size: 1rem;
    text-align: end;
}

.event-subhead{
    font-size: 0.8rem;
}

@media (max-width: 650px){

    .schedule-section{
        margin-top: 300px;
    }
    .timeslot{
        width: 100%;
    }


    .event-title{
        font-weight: 600;
        font-size: 0.8rem;
        text-align: end;
    }
    
    .event-subhead{
        font-size: 0.6rem;
    }

    .time{
        font-weight: 800;
        font-size: 0.8rem;
    }

    .day{
        font-size: 1rem;
    }

    .sched-title{
        font-size: 2rem;
        text-align: center;
    }

    .sched-tagline{
        font-size: 0.8rem;
        text-align: center;
        margin-top: 4px;
    }
}


/* ----------- VENUE SECTION */

.venue-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;

    padding-top: 64px;
}

.venue-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.venue-title{
    font-size: 2rem;
    text-align: center;
}

.venue-tagline{
    font-size: 1rem;
    text-align: center;
}

.venue-photos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.venue-img{
    flex: 1;
    object-fit: cover;
    border: 1px solid var(--gray);
}

.venue-desc{
    font-size: 0.8rem;
    margin-top: 32px;
    text-align: center;
    width: 80%;
}

/* ----------- TICKETS SECTION */

.tickets-section{
    margin-top: 32px;
}

.tickets-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.ticket-img-container{
    width: 100%;
    overflow: hidden;
    border-radius: 16px;

}

.ticket-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.ticket-img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}


.ticket-info-container{
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray);
    border-radius: 16px;
    padding: 16px;
}

.price-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin: 16px 0px;
}

.price{
    font-weight: 900;
}

.options{
    font-size: 0.8rem;
}

.perks-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.perks{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.perk-icon{
    height: 18px;
    width: 18px;
}

.line-price{
    height: 1px;
    border-top: 1px solid var(--gray);
    width: 100%;
    margin-bottom: 16px;
}

@media (max-width: 650px){
    .tickets-section{
        margin-top: 64px;
    }
    .tickets-container{
        flex-direction: column;
    }
}